<nav class="nav">
    <h1><a routerLink="/">SportyShoes</a></h1>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/admin">Admin</a></li>
            <li><a routerLink="/aboutus">AboutUs</a></li>
        </ul>
    
    
    
        <ul *ngSwitchCase="'admin'">
            
            <li><a routerLink="/addproduct">Add Product</a></li>
            <li><a routerLink="/productlist">Product List</a></li>
            <li><a (click)="logOut()" routerLink="/">LogOut</a></li>
        </ul>
    
    </div>
</nav>
        
        