.nav{
    background-color: aqua;
    display:flex;
    justify-content: space-around;
}
.nav h1 a{
    color: blue;
    text-decoration: none;
    font-size: 60px;
    margin-top: 10px;
}

.nav ul{
    display:inline-flex;
    list-style-type: none;
     margin: 0;
    padding: 0;

}
.nav li{
    padding-left: 100px;
    padding-top: 20px;
    font-size: 30px;
    color: blue;
}
