.productlist{
    text-align: left;
    margin-top: 100px;
    margin-left: 200px;
    color: blue;
   
}
table th,table td{
    border: 3px solid;
    padding: 10px;
     min-height: 60px;
     font-size: 20px;
    
}
table th{
    font-size: 30px;
}
img{
    width: 200px;
    height: 200px;
}
.delmess{
    color: green;
}
.butt{
   background-color: lightgreen;
    margin-left: 20px;
}
.del{
    background-color: lightcoral;

}
