<div class="addProduct">
    <h1>Add New Product</h1>
    <p class="promess">{{addProductMessage}}</p>
    <form #AddProduct="ngForm" (ngSubmit)="addPro(AddProduct.value)" class="productForm" >
        <input class="form-input1" type="text" ngModel name="name" placeholder="Enter Product Name">
    <input class="form-input1" type="text" ngModel name="price" placeholder="Enter Product Price">
    <input class="form-input1" type="text" ngModel name="productcategory" placeholder="Enter Product Category">
    <input class="form-input1" type="text" ngModel name="productdescript" placeholder="Enter Product Description">
    <input class="form-input1" type="text" ngModel name="productURL" placeholder="Enter Product Image URL">
    <button class="form-button1">Add Product</button>
    </form>
</div>
